doctype html

head
  title Management
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
body
  section.hero.is-primary
    .hero-body
      .container
        p.title Management
        p.subtitle Management The Cusines
  .section
    .container
      table.table
        thead
          tr
            th Name
            th Description
            th ImageUrl
            th(colspan='2') Operation
        tbody
          each cusine in cusines
            tr
              td=cusine.name
              td=cusine.description
              td=cusine.imgUrl
              td.is-icon
                a.is-info(href='#')
                  i.fa.fa-edit
              td.is-icon
                a.is-danger(href='#')
                  i.fa.fa-close
  .modal.deleteModal
    .modal-background
    .modal-content
      .box
        p.title Are you sure to delete this cusine?
        form.form(method='post' action='/cusine/delete')
          input(type='text' name='cusineId' style='display: none')
          p.control
            button.button.is-danger(type='submit') Yes
            button.button.is-primary.deleteModalClose No
  script.
    $(
      function () {
        $('.is-danger').each(function () {
          $(this).click(function () {
            $('.modal.deleteModal').addClass('is-active')
            $('html').addClass('is-clipped')
          })
        })

        $('.deleteModalClose').click(function (e) {
          e.preventDefault()
          $('.modal.deleteModal').removeClass('is-active')
          $('html').removeClass('is-clipped')
        })
      }
    )